-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "user_data";

-- CreateTable
CREATE TABLE "user_data"."users" (
    "uuid" UUID NOT NULL DEFAULT gen_random_uuid(),
    "username" VARCHAR(50) NOT NULL,
    "display_name" VARCHAR(50),
    "email" VARCHAR(100) NOT NULL,
    "password_hash" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pk" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "user_data"."deck" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "name" TEXT NOT NULL,
    "format" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userUuid" UUID NOT NULL,

    CONSTRAINT "deck_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_data"."deckCard" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "deckId" TEXT NOT NULL,
    "cardUuid" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "isSideboard" BOOLEAN NOT NULL DEFAULT false,
    "isCommander" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "deckCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_data"."collection" (
    "id" TEXT NOT NULL DEFAULT (gen_random_uuid())::text,
    "cardUuid" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "foil" BOOLEAN NOT NULL DEFAULT false,
    "userUuid" UUID NOT NULL,

    CONSTRAINT "collection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cardForeignData" (
    "uuid" TEXT,
    "faceName" TEXT,
    "skuIds" TEXT,
    "flavorText" TEXT,
    "identifiers" TEXT,
    "language" TEXT,
    "multiverseId" INTEGER,
    "name" TEXT,
    "text" TEXT,
    "type" TEXT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "cardForeignData_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cardIdentifiers" (
    "uuid" TEXT NOT NULL,
    "scryfallId" TEXT,
    "scryfallOracleId" TEXT,
    "scryfallIllustrationId" TEXT,
    "scryfallCardBackId" TEXT,
    "mcmId" TEXT,
    "mcmMetaId" TEXT,
    "mtgArenaId" TEXT,
    "mtgoId" TEXT,
    "mtgoFoilId" TEXT,
    "multiverseId" TEXT,
    "tcgplayerProductId" TEXT,
    "tcgplayerEtchedProductId" TEXT,
    "tcgplayerAlternativeFoilProductId" TEXT,
    "cardKingdomId" TEXT,
    "cardKingdomFoilId" TEXT,
    "cardKingdomEtchedId" TEXT,
    "cardsphereId" TEXT,
    "cardsphereAlternativeFoilId" TEXT,
    "cardsphereEtchedId" TEXT,
    "cardsphereFoilId" TEXT,
    "deckboxId" TEXT,
    "mtgjsonFoilVersionId" TEXT,
    "mtgjsonNonFoilVersionId" TEXT,
    "mtgjsonV4Id" TEXT,

    CONSTRAINT "cardIdentifiers_pkey" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "cardLegalities" (
    "uuid" TEXT NOT NULL,
    "alchemy" TEXT,
    "brawl" TEXT,
    "commander" TEXT,
    "duel" TEXT,
    "future" TEXT,
    "gladiator" TEXT,
    "historic" TEXT,
    "legacy" TEXT,
    "modern" TEXT,
    "oathbreaker" TEXT,
    "oldschool" TEXT,
    "pauper" TEXT,
    "paupercommander" TEXT,
    "penny" TEXT,
    "pioneer" TEXT,
    "predh" TEXT,
    "premodern" TEXT,
    "standard" TEXT,
    "standardbrawl" TEXT,
    "timeless" TEXT,
    "tlr" TEXT,
    "vintage" TEXT,

    CONSTRAINT "cardLegalities_pkey" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "cardPurchaseUrls" (
    "uuid" TEXT NOT NULL,
    "cardKingdom" TEXT,
    "cardKingdomFoil" TEXT,
    "cardKingdomEtched" TEXT,
    "cardmarket" TEXT,
    "cardmarketFoil" TEXT,
    "tcgplayer" TEXT,
    "tcgplayerEtched" TEXT,
    "tcgplayerAlternativeFoil" TEXT,

    CONSTRAINT "cardPurchaseUrls_pkey" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "cardRulings" (
    "uuid" TEXT,
    "date" DATE,
    "text" TEXT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "cardRulings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cards" (
    "artist" TEXT,
    "artistIds" TEXT,
    "asciiName" TEXT,
    "attractionLights" TEXT,
    "availability" TEXT,
    "boosterTypes" TEXT,
    "borderColor" TEXT,
    "cardParts" TEXT,
    "colorIdentity" TEXT,
    "colorIndicator" TEXT,
    "colors" TEXT,
    "defense" TEXT,
    "duelDeck" TEXT,
    "edhrecRank" INTEGER,
    "edhrecSaltiness" DOUBLE PRECISION,
    "faceConvertedManaCost" DOUBLE PRECISION,
    "faceFlavorName" TEXT,
    "faceManaValue" DOUBLE PRECISION,
    "faceName" TEXT,
    "facePrintedName" TEXT,
    "finishes" TEXT,
    "flavorName" TEXT,
    "flavorText" TEXT,
    "frameEffects" TEXT,
    "frameVersion" TEXT,
    "hand" TEXT,
    "hasAlternativeDeckLimit" BOOLEAN,
    "hasContentWarning" BOOLEAN,
    "isAlternative" BOOLEAN,
    "isFullArt" BOOLEAN,
    "isFunny" BOOLEAN,
    "isGameChanger" BOOLEAN,
    "isOnlineOnly" BOOLEAN,
    "isOversized" BOOLEAN,
    "isPromo" BOOLEAN,
    "isRebalanced" BOOLEAN,
    "isReprint" BOOLEAN,
    "isReserved" BOOLEAN,
    "isStorySpotlight" BOOLEAN,
    "isTextless" BOOLEAN,
    "isTimeshifted" BOOLEAN,
    "keywords" TEXT,
    "language" TEXT,
    "layout" TEXT,
    "leadershipSkills" TEXT,
    "life" TEXT,
    "loyalty" TEXT,
    "manaCost" TEXT,
    "manaValue" DOUBLE PRECISION,
    "name" TEXT,
    "number" TEXT,
    "originalPrintings" TEXT,
    "originalReleaseDate" TEXT,
    "originalText" TEXT,
    "otherFaceIds" TEXT,
    "power" TEXT,
    "printedName" TEXT,
    "printedText" TEXT,
    "printedType" TEXT,
    "printings" TEXT,
    "producedMana" TEXT,
    "promoTypes" TEXT,
    "rarity" TEXT,
    "rebalancedPrintings" TEXT,
    "relatedCards" TEXT,
    "securityStamp" TEXT,
    "setCode" TEXT,
    "side" TEXT,
    "signature" TEXT,
    "skuIds" TEXT,
    "sourceProducts" TEXT,
    "subsets" TEXT,
    "subtypes" TEXT,
    "supertypes" TEXT,
    "text" TEXT,
    "toughness" TEXT,
    "type" TEXT,
    "types" TEXT,
    "uuid" TEXT NOT NULL,
    "variations" TEXT,
    "watermark" TEXT,
    "colors_arr" TEXT[],
    "colorIdentity_arr" TEXT[],

    CONSTRAINT "cards_pkey" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "meta" (
    "date" TEXT,
    "version" TEXT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "meta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sealedProducts" (
    "setCode" TEXT,
    "cardCount" INTEGER,
    "category" TEXT,
    "contents" TEXT,
    "identifiers" TEXT,
    "name" TEXT,
    "productSize" TEXT,
    "purchaseUrls" TEXT,
    "releaseDate" TEXT,
    "subtype" TEXT,
    "uuid" TEXT NOT NULL,

    CONSTRAINT "sealedProducts_pkey" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "setBoosterContentWeights" (
    "setCode" TEXT,
    "boosterName" TEXT,
    "boosterIndex" INTEGER,
    "boosterWeight" BIGINT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "setBoosterContentWeights_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "setBoosterContents" (
    "setCode" TEXT,
    "boosterName" TEXT,
    "boosterIndex" INTEGER,
    "sheetName" TEXT,
    "sheetPicks" INTEGER,
    "id" SERIAL NOT NULL,

    CONSTRAINT "setBoosterContents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "setBoosterSheetCards" (
    "setCode" TEXT,
    "boosterName" TEXT,
    "sheetName" TEXT,
    "cardUuid" TEXT,
    "cardWeight" BIGINT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "setBoosterSheetCards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "setBoosterSheets" (
    "setCode" TEXT,
    "boosterName" TEXT,
    "sheetName" TEXT,
    "sheetIsFoil" BOOLEAN,
    "sheetHasBalanceColors" BOOLEAN,
    "sheetTotalWeight" BIGINT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "setBoosterSheets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "setDecks" (
    "setCode" TEXT,
    "code" TEXT,
    "name" TEXT,
    "type" TEXT,
    "releaseDate" TEXT,
    "source" TEXT,
    "sealedProductUuids" TEXT,
    "sourceSetCodes" TEXT,
    "mainBoard" TEXT,
    "sideBoard" TEXT,
    "commander" TEXT,
    "displayCommander" TEXT,
    "tokens" TEXT,
    "planes" TEXT,
    "schemes" TEXT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "setDecks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "setTranslations" (
    "code" TEXT,
    "language" TEXT,
    "translation" TEXT,
    "id" SERIAL NOT NULL,

    CONSTRAINT "setTranslations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sets" (
    "code" TEXT NOT NULL,
    "mtgoCode" TEXT,
    "name" TEXT,
    "releaseDate" TEXT,
    "type" TEXT,
    "isOnlineOnly" BOOLEAN,
    "isFoilOnly" BOOLEAN,
    "isNonFoilOnly" BOOLEAN,
    "totalSetSize" INTEGER,
    "baseSetSize" INTEGER,
    "keyruneCode" TEXT,
    "isPartialPreview" BOOLEAN,
    "isForeignOnly" BOOLEAN,
    "isPaperOnly" BOOLEAN,
    "languages" TEXT,
    "parentCode" TEXT,
    "tcgplayerGroupId" INTEGER,
    "tokenSetCode" TEXT,
    "mcmId" INTEGER,
    "mcmName" TEXT,
    "mcmIdExtras" INTEGER,
    "block" TEXT,

    CONSTRAINT "sets_pkey" PRIMARY KEY ("code")
);

-- CreateTable
CREATE TABLE "tokenIdentifiers" (
    "uuid" TEXT NOT NULL,
    "scryfallId" TEXT,
    "scryfallOracleId" TEXT,
    "scryfallIllustrationId" TEXT,
    "scryfallCardBackId" TEXT,
    "mcmId" TEXT,
    "mcmMetaId" TEXT,
    "mtgArenaId" TEXT,
    "mtgoId" TEXT,
    "mtgoFoilId" TEXT,
    "multiverseId" TEXT,
    "tcgplayerProductId" TEXT,
    "tcgplayerEtchedProductId" TEXT,
    "tcgplayerAlternativeFoilProductId" TEXT,
    "cardKingdomId" TEXT,
    "cardKingdomFoilId" TEXT,
    "cardKingdomEtchedId" TEXT,
    "cardsphereId" TEXT,
    "cardsphereAlternativeFoilId" TEXT,
    "cardsphereEtchedId" TEXT,
    "cardsphereFoilId" TEXT,
    "deckboxId" TEXT,
    "mtgjsonFoilVersionId" TEXT,
    "mtgjsonNonFoilVersionId" TEXT,
    "mtgjsonV4Id" TEXT,

    CONSTRAINT "tokenIdentifiers_pkey" PRIMARY KEY ("uuid")
);

-- CreateTable
CREATE TABLE "tokens" (
    "artist" TEXT,
    "artistIds" TEXT,
    "asciiName" TEXT,
    "attractionLights" TEXT,
    "availability" TEXT,
    "boosterTypes" TEXT,
    "borderColor" TEXT,
    "colorIdentity" TEXT,
    "colorIndicator" TEXT,
    "colors" TEXT,
    "edhrecSaltiness" DOUBLE PRECISION,
    "faceName" TEXT,
    "finishes" TEXT,
    "flavorName" TEXT,
    "flavorText" TEXT,
    "frameEffects" TEXT,
    "frameVersion" TEXT,
    "isFullArt" BOOLEAN,
    "isFunny" BOOLEAN,
    "isOversized" BOOLEAN,
    "isPromo" BOOLEAN,
    "isReprint" BOOLEAN,
    "isTextless" BOOLEAN,
    "keywords" TEXT,
    "language" TEXT,
    "layout" TEXT,
    "manaCost" TEXT,
    "name" TEXT,
    "number" TEXT,
    "orientation" TEXT,
    "originalText" TEXT,
    "otherFaceIds" TEXT,
    "power" TEXT,
    "printedType" TEXT,
    "producedMana" TEXT,
    "promoTypes" TEXT,
    "relatedCards" TEXT,
    "securityStamp" TEXT,
    "setCode" TEXT,
    "side" TEXT,
    "signature" TEXT,
    "skuIds" TEXT,
    "sourceProducts" TEXT,
    "subtypes" TEXT,
    "supertypes" TEXT,
    "text" TEXT,
    "toughness" TEXT,
    "type" TEXT,
    "types" TEXT,
    "uuid" TEXT NOT NULL,
    "watermark" TEXT,

    CONSTRAINT "tokens_pkey" PRIMARY KEY ("uuid")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_username_uk" ON "user_data"."users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_uk" ON "user_data"."users"("email");

-- CreateIndex
CREATE INDEX "idx_deck_useruuid" ON "user_data"."deck"("userUuid");

-- CreateIndex
CREATE INDEX "idx_deckcard_carduuid" ON "user_data"."deckCard"("cardUuid");

-- CreateIndex
CREATE INDEX "idx_deckcard_deckid" ON "user_data"."deckCard"("deckId");

-- CreateIndex
CREATE INDEX "idx_collection_carduuid" ON "user_data"."collection"("cardUuid");

-- CreateIndex
CREATE INDEX "idx_collection_useruuid" ON "user_data"."collection"("userUuid");

-- CreateIndex
CREATE INDEX "idx_cardForeignData_language" ON "cardForeignData"("language");

-- CreateIndex
CREATE INDEX "idx_cardForeignData_uuid" ON "cardForeignData"("uuid");

-- CreateIndex
CREATE INDEX "idx_cardIdentifiers_uuid" ON "cardIdentifiers"("uuid");

-- CreateIndex
CREATE INDEX "idx_cardLegalities_uuid" ON "cardLegalities"("uuid");

-- CreateIndex
CREATE INDEX "idx_cardPurchaseUrls_uuid" ON "cardPurchaseUrls"("uuid");

-- CreateIndex
CREATE INDEX "idx_cardRulings_uuid" ON "cardRulings"("uuid");

-- CreateIndex
CREATE INDEX "idx_cards_coloridentity_arr" ON "cards" USING GIN ("colorIdentity_arr");

-- CreateIndex
CREATE INDEX "idx_cards_colors_arr" ON "cards" USING GIN ("colors_arr");

-- CreateIndex
CREATE INDEX "idx_cards_name" ON "cards"("name");

-- CreateIndex
CREATE INDEX "idx_cards_setCode" ON "cards"("setCode");

-- CreateIndex
CREATE INDEX "idx_cards_uuid" ON "cards"("uuid");

-- CreateIndex
CREATE INDEX "idx_sealedProducts_setCode" ON "sealedProducts"("setCode");

-- CreateIndex
CREATE INDEX "idx_sealedProducts_uuid" ON "sealedProducts"("uuid");

-- CreateIndex
CREATE INDEX "idx_setBoosterContentWeights_setCode" ON "setBoosterContentWeights"("setCode");

-- CreateIndex
CREATE INDEX "idx_setBoosterContents_setCode" ON "setBoosterContents"("setCode");

-- CreateIndex
CREATE INDEX "idx_setBoosterSheetCards_cardUuid" ON "setBoosterSheetCards"("cardUuid");

-- CreateIndex
CREATE INDEX "idx_setBoosterSheetCards_setCode" ON "setBoosterSheetCards"("setCode");

-- CreateIndex
CREATE INDEX "idx_setBoosterSheets_setCode" ON "setBoosterSheets"("setCode");

-- CreateIndex
CREATE INDEX "idx_setDecks_setCode" ON "setDecks"("setCode");

-- CreateIndex
CREATE INDEX "idx_setTranslations_code" ON "setTranslations"("code");

-- CreateIndex
CREATE INDEX "idx_sets_code" ON "sets"("code");

-- CreateIndex
CREATE INDEX "idx_sets_name" ON "sets"("name");

-- CreateIndex
CREATE INDEX "idx_tokenIdentifiers_uuid" ON "tokenIdentifiers"("uuid");

-- CreateIndex
CREATE INDEX "idx_tokens_name" ON "tokens"("name");

-- CreateIndex
CREATE INDEX "idx_tokens_setCode" ON "tokens"("setCode");

-- CreateIndex
CREATE INDEX "idx_tokens_uuid" ON "tokens"("uuid");

-- AddForeignKey
ALTER TABLE "user_data"."deck" ADD CONSTRAINT "fk_deck_user" FOREIGN KEY ("userUuid") REFERENCES "user_data"."users"("uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_data"."deckCard" ADD CONSTRAINT "fk_deckcard_card" FOREIGN KEY ("cardUuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_data"."deckCard" ADD CONSTRAINT "fk_deckcard_deck" FOREIGN KEY ("deckId") REFERENCES "user_data"."deck"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_data"."collection" ADD CONSTRAINT "fk_collection_card" FOREIGN KEY ("cardUuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_data"."collection" ADD CONSTRAINT "fk_collection_user" FOREIGN KEY ("userUuid") REFERENCES "user_data"."users"("uuid") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cardForeignData" ADD CONSTRAINT "fk_cardforeigndata_uuid" FOREIGN KEY ("uuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cardIdentifiers" ADD CONSTRAINT "fk_cardidentifiers_uuid" FOREIGN KEY ("uuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cardLegalities" ADD CONSTRAINT "fk_cardlegalities_uuid" FOREIGN KEY ("uuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cardPurchaseUrls" ADD CONSTRAINT "fk_cardpurchaseurls_uuid" FOREIGN KEY ("uuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cardRulings" ADD CONSTRAINT "fk_cardrulings_uuid" FOREIGN KEY ("uuid") REFERENCES "cards"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cards" ADD CONSTRAINT "fk_cards_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sealedProducts" ADD CONSTRAINT "fk_sealedproducts_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "setBoosterContentWeights" ADD CONSTRAINT "fk_setboostercontentweights_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "setBoosterContents" ADD CONSTRAINT "fk_setboostercontents_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "setBoosterSheetCards" ADD CONSTRAINT "fk_setboostersheetcards_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "setBoosterSheets" ADD CONSTRAINT "fk_setboostersheets_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "setDecks" ADD CONSTRAINT "fk_setdecks_setcode" FOREIGN KEY ("setCode") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "setTranslations" ADD CONSTRAINT "fk_settranslations_code" FOREIGN KEY ("code") REFERENCES "sets"("code") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tokenIdentifiers" ADD CONSTRAINT "fk_tokenidentifiers_uuid" FOREIGN KEY ("uuid") REFERENCES "tokens"("uuid") ON DELETE NO ACTION ON UPDATE NO ACTION;

